
.ipynb_checkpoints/concrete_compressive_strength-checkpoint.ipynb
.ipynb_checkpoints/fraud_detection-checkpoint.ipynb
.ipynb_checkpoints/metro_interstate_traffic_volumne-checkpoint.ipynb
.ipynb_checkpoints/occupancy_detection-checkpoint.ipynb
.ipynb_checkpoints/wine_quality-checkpoint.ipynb
*.csv
.ipynb_checkpoints/machine_predictive_maintenance-checkpoint.ipynb
